.about {
    padding: 2em;
}
.about p {
    padding: .5em 0;
    text-align: center;
}

/* For devices larger than 500px */
@media (min-width: 500px) {
    .about {
    padding-top: 3em ;
    }
}

/* For devices larger than 1200px */
@media (min-width: 1200px) {   
    .about {
/*    padding: 4em 10em 10em;*/
    }
}



