
/*--------------------Gobal*/
* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    height: 100%;
}

html {
    overflow: auto;
    color: #403E3E;
}

a {
    color: #403E3E; 
    text-decoration: none;
}

a .blue {
    color: #0099FF;
}

a .blue:hover {
    color: #403E3E;
}

.current {
    color: #EC663B;
}

body {
    overflow:auto;
    overflow:initial;
}
#global {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 5em;
}

@media (min-width: 880px) {    
    .container {
    width: 80%;
    margin: 0 auto;
    }
}

.nolb {
    white-space: nowrap;
}

 
/*--------------------header*/

header {
    background-color: white;
    width: 100%;
    padding: .5em 0 0 0;
    margin: 0;
    position: fixed;
    z-index: 100;
    height: 5.5em;
}

.headCont {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 8em;
    margin: auto;
    padding: 1em 0;
}

.logo img {
    padding: 0;
    margin: 0;
}

.burger {
    text-align: center;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

svg {
    height: 10px;
    width: 10px;
}

nav {
    background-color: white;
    display: none;
    padding-top: 1em;
    margin: -1em 0;
}

nav ul {
    padding: 0 0 .8em 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav li{
    list-style: none;
    text-align: center;
    padding-bottom: .8em; 
}

nav a {
    text-decoration: none;
    color: black;
}

svg circle {
    fill: none;
    stroke: #EC663B;
    stroke-width: 1.5px;
}

#about {
    padding-top: .8em;
}

.button {
    border-radius: 25px;
    border: 2px solid #EC663B;
    padding: .2em 1em;
    color: #EC663B;
}

.button:hover {
    color: #3399CC;
    border: 2px solid #3399CC;
}

.open {
    display: block;
}

.circle {
    display: none;
}

/* For devices larger than 800px */
@media (min-width: 880px) {    
    
    .logo {
        margin: 0;
    }
    
    .burger {
        display: none;
    }
    
    .headCont{
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
    }
    
    nav { 
        width: 40%;
        display: block;
    }
    
    nav ul {
        flex-direction: row;
        justify-content: space-between;
    }
    
    #about {
        padding: 0;
    }
    
    .circle {
        display: block;
    }
}



/*--------------------Hero*/

.hero {
    position: relative;
    padding-top: 12vh;
    height: 88vh;
}

.one {
    position: absolute;
    background-image: url(../assets/images/one.jpg);
    width: 100%;
    height: 88vh;
    background-position: center;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.two {
    position: absolute;
    background-image: url(../assets/images/two.jpg);
    width: 100%;
    height: 88vh;
    background-position: center;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.three {
    position: absolute;
    background-image: url(../assets/images/three.jpg);
    width: 100%;
    height: 88vh;
    background-position: center;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.four {
    position: absolute;
    background-image: url(../assets/images/four.jpg);
    width: 100%;
    height: 88vh;
    background-position: center;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.heroLogo {
    width: 15em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 90;
    position: absolute;
}

.hero svg {
    position: absolute;
    width: 4em;
    height: auto;
    fill: rgba(255,255,255, .7);
    z-index: 100;
    bottom: 5em;
    left: 50%;
    transform: translate(-50%, 0)
    
}

.hero svg:hover {
    fill: rgba(51,153,204, 0.7);
}

/*-------------banner*/

.heroBar {
    margin-top: 4.5em;
    width: 100%;
    height: 12em;
}

.barImg {
    
    height: 12em;
    background-position: center;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.Make {
    background-image: url(../assets/images/two.jpg);
}

.About {
     background-image: url(../assets/images/four.jpg)
}

.Contact {
    background-image: url(../assets/images/five.jpg)
}

.barImg h1{
    position: relative;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
    color: white;
    text-transform: uppercase;
    font-size: 42px;
}

/* For devices larger than 550px */
@media (min-width: 550px) {    
    .heroLogo {
    width: 25em;
    }
}

/* For devices larger than 880px */
@media (min-width: 880px) {    
    .heroLogo {
    width: 30em;
    }
}


/*--------------Footer*/

#footer {
    height: 5em;
    width: 90%; 
    margin: 0 auto;
    position: relative;
    margin-top: -5em;
    clear: both;
}

#footer p{
    position: absolute;
    top: 50%;
    left: 0;
    color: #95989A;
    transform: translate(0, -50%);
    font-size: .8em;
}

#footer a {
    text-decoration: none;
    color: #0099FF;
}

#footer svg{
    width: 2.5em;
    height: auto;
    fill: #95989A;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

#footer svg:hover{
    fill: rgba(51,153,204, 0.7);
}

@media (min-width: 880px) {    
    #footer {
        width: 100%;
    }
}


